/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define ARROW 1
#define NUMBER 2
#define FUNCTION 3

/ {
  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
        &kp TAB &kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp SEMICOLON &kp null &kp LEFT_CONTROL &kp A &kp R &kp S &kp T &kp G &kp M &kp N &kp E &kp I &kp O &kp SINGLE_QUOTE &kp LEFT_SHIFT &kp Z &kp X &kp C &kp D &kp V &kp K &kp H &kp COMMA &kp PERIOD &kp SLASH &kp RETURN &kp LEFT_ALT &kp LEFT_GUI &lt ARROW SPACE &kp SPACE &mo NUMBER &mo FUNCTION 
      >;
    };

    Arrow_layer {
      bindings = <
        &kp ESCAPE &none &none &none &none &none &kp K_PREVIOUS &kp K_VOLUME_DOWN2 &kp UP &kp K_VOLUME_UP2 &kp K_NEXT &kp K_PLAY_PAUSE &none &kp LEFT_GUI &kp LEFT_ALT &kp LEFT_CONTROL &kp LEFT_SHIFT &none &none &kp LEFT &kp DOWN &kp RIGHT &none &kp K_MUTE2 &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none 
      >;
    };

    Number_layer {
      bindings = <
        &kp ESCAPE &kp LEFT_BRACKET &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp RIGHT_BRACKET &none &none &none &none &none &none &none &kp SEMICOLON &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp EQUAL &none &kp RIGHT_SHIFT &kp RIGHT_CONTROL &kp RIGHT_ALT &kp RIGHT_GUI &none &none &kp GRAVE &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp BACKSLASH &none &none &none &none &none &none &kp KP_DOT &kp NUMBER_0 &kp MINUS &none &none &none 
      >;
    };

    Function_layer {
      bindings = <
        &kp ESCAPE &kp F12 &kp F7 &kp F8 &kp F9 &none &none &none &none &none &none &none &none &kp F11 &kp F4 &kp F5 &kp F6 &none &none &kp RIGHT_SHIFT &kp RIGHT_CONTROL &kp RIGHT_ALT &kp RIGHT_GUI &none &none &kp F10 &kp F1 &kp F2 &kp F3 &none &none &none &none &none &none &none &none &none &none &none &none &none 
      >;
    };

  };
};